/*style autocomplete*/
/*material design google it*/
/*parallax scrolling*/
html {
    font-family: 'Candal', sans-serif;
}

h1 {
	margin-top: 180px;
	color: #006BB6;
}


div {
	padding: 2% 4%;

}

div.question-0,
div.question-1,
div.question-2,
div.question-3,
div.question-4 {
	background-image: url("http://smallfactory.info/raymond/nba.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 35%;
	background-color: #FDB927;
	display:none;
	width: 100%;
	box-sizing: border-box;
	color: white;
}





input[type=text] {
	background: #006BB6;
	height: 30px;
	width: 200px;
	border: 5px solid #006BB6; 
	box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1); 
	padding: 15px; 
	background: rgba(255,255,255,0.5); 
	margin: 0 0 10px 0;
	font-size: 20px;
	font-family: 'Fjalla One', sans-serif;


}
input[type=text]:focus {
	border: 5px solid #ffffff; 
}
input[type=submit],
button {
    
    border-radius: 5px;
    border: 0;
    width: 80px;
    height:30px;
    padding: 15px;
    margin-left: 10px;
    font-family: Tahoma;
    background: #f4f4f4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #006BB6 1%, #ededed 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006BB6', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}


.autocomplete-suggestions{
	background-color: #006BB6;
	width: 150px;
	border: 1px solid #454545;
    color: white;
    white-space: nowrap;
}

#hints {
	background-color:  #006BB6;
	color: white;
}

  .modal a.close-modal[class*="icon-"] {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    color: #fff;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    background: #900;
    border: 2px solid #fff;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -o-border-radius: 26px;
    -ms-border-radius: 26px;
    -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
  }
   
body > .modal {
  display: none;
}

.gold{
    color: #FDB927;
    font-weight: bold;
}

#restart-main {
    display: none;
    width:110px;
}